@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
}

header {
  height: 100vH;
  background: #82e3ff;
}

nav {
  font-weight: 400;
  padding: 2em;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(-20px, 20px);
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background: #3e3e3e;
  border-radius: 50px;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
  transition: 0.3s;
  z-index: 1;
}

.burger-bar {
  width: 30px;
  height: 4px;
  background: #FFF;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.3s;
}

.burger-bar:before,
.burger-bar:after {
  content: '';
  width: 30px;
  height: 4px;
  background: #FFF;
  position: absolute;
  transition: 0.3s;
}

.burger-bar::before {
  top: -10px;
}

.burger-bar::after {
  top: 10px;
}

.hamburger.active {
  border-radius: 5px;
  box-shadow: none;
}

.hamburger.active .burger-bar {
  background: rgba(0,0,0,0);
}

.hamburger.active .burger-bar::before {
  top: 0;
  transform: rotate(-45deg);
}

.hamburger.active .burger-bar::after {
  top: 0;
  transform: rotate(45deg);
}

.navigation-list {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 60px;
  border-radius: 50px;
  list-style: none;
  text-align: center;
  font-size: 20px;
  background: #3e3e3e;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
  margin: 0;
  transition: 0.3s;
}

.navigation-list.active {
  width: 250px;
  height: 325px;
  padding-top: 5em;
  padding-left: 0;
  border-radius: 5px;
}

.navigation-list li {
  padding: 10px;
}

.nav-links {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.nav-links.active {
  visibility: visible;
  opacity: 1;
}

.navigation-list a {
  color: #FFF;
  text-decoration: none;
  transition: 0.4s;
}

.navigation-list a:hover {
  color: #82e3ff;
}

section {
  height: 100vH;
  background-color: lightcoral;
}
